<html>

<head>
<% include ../head_scripts %>
</head>
		

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<% include partials/coach_partial.ejs %>




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>
</html>