<html>

<head>
<% include ../head_scripts %>
<script type='text/javascript' src='/js/event_show.js'></script>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

    <% if(notice) { %>
      <p><%= notice %></p>
    <% } %>
      <form id="user_form" class="form-horizontal" action="/players/<%=player._id%>/addUser" method="post" role="form" data-ajax="false">

          <div data-role="fieldcontain">
              <label for="inputEmail" class="col-sm-2 control-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" name="email">
          </div>
          <div data-role="fieldcontain">
              <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="John" name="first_name">
          </div>
          <div data-role="fieldcontain">
              <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
              <input type="text" class="form-control" id="inputLastName" placeholder="Smith" name="last_name">
          </div>
          <div data-role="fieldcontain">
              <label for="inputPhone" class="col-sm-2 control-label">Phone Number</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="555-123-1234" name="phone">
          </div>
          <div data-role="fieldcontain">
                <button type="submit" class="btn btn-default">Add User</button>
          </div>

      </form>
<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>
</html>
