<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<!-- May or may not need this later -->
<h1>Your Players</h1>
<table data-role="table" class="ui-responsive table-stroke">
	<thead>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Date of Birth</th>
		<th></th>
	</thead>
	<tbody>
		<% for(var i = 0; i < players.length; i++) { %>
			<tr>
				<td><%= players[i].last_name %></td>
				<td><%= players[i].first_name %></td>
				<td><% if(players[i].date_of_birth){ %>
					<%= players[i].date_of_birth %>
					<% }else{ %>
					--
					<% } %></td>
				<td><a href=<%= '/players/' + players[i]._id %> data-role="button" data-inline="true" data-mini="true">Details</a></td>
			</tr>
		<% } %>
	</tbody>
</table>

<a href='/players/new' data-role="button" data-theme="b">Create new player</a>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>