<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<h1>Compose a message</h1>

<form method="POST" action="/mail/test">
	<b>Team ID</b>
	<input type="text" name="team_id" />
	<b>Player ID</b>
	<input type="text" name="player_id" />
	<input type="submit" value="Send Message" />
</form>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
