<html>

<head>
<% include ../head_scripts %>
<script>
$(function(){
	$("#panelbutton").on('click', function(){
		$("#mypanel").panel('open');
	});
});
</script>
</head>
		

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<div class="body-content">
	<h1>Welcome to TeamManager!</h1>
	<div id="slideshow">
	   <div>
	     <img src="/img/features/team-info.png" class="slide-img" >
	   </div>
	   <div>
	     <img src="/img/features/calendar.png" class="slide-img" >
	   </div>
	   <div>
	     <img src="/img/features/carpool-route.png" class="slide-img" >
	   </div>
	   	<div>
	     <img src="/img/features/attendance.png" class="slide-img" >
	   </div>
	</div>


<p>
	Welcome to TeamManager!  An all-in-one application to address the logistics of youth sports teams.  Create a team, add players, schedule events, get attendance, and coordinate carpools!
</p>
<h5>If you're new to the program, check out the following pages to help you get started:</h5>
<a href="/features" data-role="button" data-inline="true" data-theme="b">What We Do</a>
<a href="/starting" data-role="button" data-inline="true" data-theme="b">Get Started!</a>

</div>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>
</html>