<html>

<head>
<% include ../head_scripts %>
<script>
$(function(){
	$("#panelbutton").on('click', function(){
		$("#mypanel").panel('open');
	});
});
</script>
</head>
		

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
This is the homepage




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>
</html>