<html>

<head>
<% include ../head_scripts %>
<script>
$(function(){
	$("#panelbutton").on('click', function(){
		$("#mypanel").panel('open');
	});
});
</script>
</head>
		

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<div role="main" class="ui-content jqm-content body-content static-content">
	<h1>Getting Started with TeamManager</h1>

		<p>This is a guide that covers how to use several of the functions that TeamManager provides.</p>

		<br>
		<h2>Create an Account</h2>
		<div class="ui-grid-a">
		    <div class="ui-block-a"><p>In order to use any functionality on the site, you first must make a user account.  Visit <a href="/register"> our registration page</a> to create an account, or go to our <a href="/login">login page</a> to login.  Note that the email you provide will be the one the system sends emails to.</p></div>
		    <div class="ui-block-b"><img src="/img/guide/register.png" class="border-img" ></div>
		</div>

		<br>
		<h2>Creating a Team</h2>
		<div class="ui-grid-a">
		    <div class="ui-block-a"><p>Once you have logged in, navigate to <a href="/teams"> your teams page</a> that lists all of the teams you and your child are a part of.  If you're just starting out, this page should be empty, so hit the "New Team" button near the bottom to create a new team.</p>
		    <p>After filling in your team's information, you will be taken to a form to fill your new team's roster.  Here, simply enter the first and last name of the player, and the email that you will use to contact them about team events and carpools (this is often their parent's email).  Once you have filled the roster, hit "submit" and you will be taken to your <b>team page</b>, with the players and emails added.
		    </p>
		    <p>To add more players to the roster later, navigate to your team page, to the "Roster" tab.  Here, click on the "Edit Roster" button.  On the next page, you can remove players from your team, or add more using the same convention as above (first, last, and email).
		    </p>
		    </div>
		    <div class="ui-block-b"><img src="/img/guide/teams.png" class="border-img" ><br><img src="/img/guide/new-team.png" class="border-img" ><br><img src="/img/guide/roster-fill.png" class="border-img" ></div>
		</div>

		<br>
		<h2>Creating an Event</h2>
		<div class="ui-grid-a">
		    <div class="ui-block-a"><p>To create a new event for a team, go to the team's page, go to the "Events" tab, and hit the "Create Event" button.  On the page, pick an event type, set the date, time, and location (valid locations are displayed using Google Maps), as well as any event details.  Once that is submitted, you will be taken to that event page, where you can view the map, see player attendance (once the RSVP), and arrange carpools.</p></div>
		    <div class="ui-block-b"><img src="/img/guide/empty-calendar.png" class="border-img" ></div>
		</div>

		<br>
		<h2>Tracking Attendance</h2>
		<div class="ui-grid-a">
		    <div class="ui-block-a"><p>To view the attendance for an event, go to the event page and go to the "Attendance" tab.  To the right of the player's name, you should see an indication if they are going, not going, or have not responded.  As a coach, you have the ability to change these responses for your players (if you know they are going or not).  To change their status, simply click the corresponding button next to the player's name.</p>
	    	<p>To send an email to a player or their guardian, you can hit the mail button to the right of their name.  To send a reminder to all emails that have not responded yet, you can hit the remind all button.  These actions will send them an email asking them to confirm their player's attendance status, to which they can respond to by clicking one of two links in the email.
	    	</p>
	    	<p>Two days before an event, the system will automatically send an email to all non-responsive users asking them to respond.  Then, one day before the event a summary email is sent to the coaches of a team, with a list of all the players who are attending, not attending, and those who did not respond.  These automatic emails are currently not changeable, but in the future you may be able to set them to your liking.
	    	</p>
	    </div>
		    <div class="ui-block-b"><img src="/img/guide/attendance-game.png" class="border-img" ><br><img src="/img/features/reminder.png" class="border-img" ><br><img src="/img/features/summary.png" class="border-img" ></div>
		</div>

		<br>
		<h2>Carpooling</h2>
		<div class="ui-grid-a">
		    <div class="ui-block-a"><p>To coordinate carpools for an event, go to the event page, and find the carpool section near the bottom of the page.  This will list all the current carpools for that event and their riders.</p>
		    	<br>
		    	<h3>Driving</h3>
	    	<p>To offer a carpool, click the "Offer a Carpool" button.  This will take you to a form where you'll fill out how many people you can drive total (this includes your own player), where you're leaving, what time you're leaving, and any notes.  After submitting, you can see that your carpool is now listed on the event page.  You may also see your players are automatically put in your carpool.  To view the carpool page, click on the "View Carpool" link.
	    	</p>
	    	<p>To add more riders to your carpool, go to the "View Carpool" link.  There is the carpool page, where you can see the carpool information and a map of the carpool. Directions and riders are viewable by clicking the buttons near the bottom of the page.  To add more riders, click the "Add Riders" button.  This will take you to a form where all players without a ride are listed.  If you want to add a person to your ride, check the box next to their name, enter when and where you're picking them up, and hit "add rider.""  This will add them to your ride, and also send them an email letting them know.
	    	</p>

	    	<h3>Need a Ride</h3>
	    	<p>If your player needs a ride for an event, go to the event page, scroll down to the "Carpooling" section, and click "Request a Ride."  Here, it'll list all of your players.  Check which one needs a ride, when and where they'll need to be picked up form, and hit "request a ride".  This will send out an email to all the drivers that your player is in need of a ride.
	    	</p>

	    </div>
		    <div class="ui-block-b"><img src="/img/guide/carpools.png" class="border-img" ><br><img src="/img/guide/add-rider.png" class="border-img" ></div>
		</div>

</div>




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>
</html>