<html>

<head>
<% include ../head_scripts %>
<script>
$(function(){
	$("#panelbutton").on('click', function(){
		$("#mypanel").panel('open');
	});
});
</script>
</head>
		

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<div role="main" class="ui-content jqm-content body-content static-content">
	<h1>Getting Started</h1>

		<p>A small loading overlay displayed when jQuery Mobile loads in content via Ajax, or for use in custom notifications.
			</p>

		<h2>Standard loader</h2>
		<p>The loader overlay can be icon only, text only or both. These demos rely on a custom JavaScript, view the source to see how it works.</p>

		<h2>Custom HTML</h2>
</div>




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>
</html>