<html>

<head>
<% include ../head_scripts %>
<script type='text/javascript' src='/js/event_show.js'></script>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
  <h1>Request a Ride</h1>
  <form action='/events/<%=event._id%>/rideRequest' method='POST' data-ajax="false">
    <b>Who needs a ride?</b><br />
    <% players.forEach(function(player, index) { %>
      <div class='ui-block-a'>
        <input type='checkbox' value="<%=player._id%>" name="players[<%=index%>]">
      </div>
      <div class='ui-block-b'>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%=player.full_name%>
      </div>
    <% }) %>
    <br />
    <b>Location</b> <br />
    <input type="text" name="location"> <br />
    <b>Time</b> <br />
    <input type="time" name="time">
    <br />
    <input type="submit" value="Request Ride" data-role="button" data-role="button" class="form-control wide-button">
  </form>
<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
