<html>

<head>
<% include ../head_scripts %>
</head>
<body>
<% include ../head %>
<h1>Index</h1>
<% if(templates) { %>
	<table>
		<thead>
			<th>Subject</th>
			<th></th>
		</thead>
		<tbody>
			<% for(var i = 0; i < templates.length; i++) { %>
				<tr>
					<td><%= templates[i].subject %></td>
					<td><a href="/teams/<%= templates.team_id %>/templates/<%= templates[i]._id %>">Details</a></td>
				</tr>
			<% } %>
		</tbody>
	</table>

<% } %>

<a href="/teams/<%= team_id %>/templates/new">New</a>
<% include ../footer %>
</body>
</html>