<h1>New Email Template</h1>
<form method="POST" action="/teams/<%= id %>/templates/new" >
	Subject:<input type="text" name="subject" /> <br />
	Recipients (comma separated for now): <input type="text" name="recipients" /> <br />
	Body: <br />
	<textarea name="body"></textarea> <br />
	<input type="submit" value="Create" />
</form>