<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
  <h1>Thank You</h1>
  <p>Your response has been successfully recorded.</p>
  <p><a href="/events/<%=attendance.event_id %>" >Click here</a> to see details about this event.</p>
</body>
</html>
