<h1>Teams</h1>
<table>
	<thead>
		<th>Name</th>
		<th>Sport</th>
		<th>Number of Players</th>
	</thead>
	<tbody>
		<% for(var i = 0; i < teams.length; i++) { %>
			<tr>
				<td><%= teams[i].name %></td>
				<td><%= teams[i].sport %></td>
				<td></td>
				<td><a href="<%= '/teams/' + teams[i]._id %>">Show</a></td>
			</tr>
		<% } %>
	</tbody>
</table>
<a href='/teams/new'>New Team</a>