<h1>New Team</h1>


<form method="post" action="/teams/new">
	Team Name: <input type='text' name='name'/><br />
	Sport: <input type='text' name='sport'/><br />
	<input type='submit' value='Create' />
</form>