<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<h1>New Team</h1>

    <form id="team_form" method="post" action="/teams/new" data-ajax="false" class="form-horizontal" role="form">

        <div data-role="fieldcontain">
            <label for="name">Team Name:</label>
            <input type="text" name="name" id="name" value="" Purple Cobras/>
        </div>

        <div data-role="fieldcontain">
            <label for="inputSport">Sport</label>
            <input type="text" class="form-control" id="inputSport" placeholder="Dodgeball" name="sport">
        </div>

        <div data-role="fieldcontain">
            <label for="coaches">Managers:</label>
              <input type="text" class="form-control" id="coaches" placeholder="manager emails (separated by commas)" name="coaches">
              <p class="help-block">You will be listed as this team's manager, giving you access to create events, set the roster, and edit the team information.  If you wish to add other users as managers enter their emails, separated by commas.</p>
        </div>

        <div data-role="fieldcontain" class="center-this">
              <button id="submit" type="submit" data-theme="a" data-inline="true">Create Team</button>
        </div>

    </form>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>