<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<h1>Create your Team Roster</h1>

   		<div id="roster">
					<div class="ui-grid-b">
						    <div class="ui-block-a"><div class="ui-bar" style="height:60px">First Name</div></div>
						    <div class="ui-block-b"><div class="ui-bar" style="height:60px">Last Name</div></div>
						    <div class="ui-block-c"><div class="ui-bar" style="height:60px">Email</div></div>
					</div>	

	    	<div id="roster-list1">
					<form class='form-inline row roster-form' id='roster_form1' method='post' action="/teams/<%=team._id%>/roster-create" role='form' data-ajax="false">
						<div class="ui-grid-b">
						    <div class="ui-block-a"><div class="ui-bar" style="height:60px"><input type='text' placeholder='First Name' name='first_name' data-inline="true"></div></div>
						    <div class="ui-block-b"><div class="ui-bar" style="height:60px"><input type='text' placeholder='Last Name' name='last_name' data-inline="true"></div></div>
						    <div class="ui-block-c"><div class="ui-bar" style="height:60px"><input type='email' placeholder='Email' name='email' data-inline="true"></div></div>
						</div>			
					</form>
			</div>
		</div>

        <div class="center-this">
              <button type="button" id="add_row1" data-inline="true" data-theme="b">Add More Players</button>
              <hr>
        </div>

        <div class="center-this">
              <button type="button" id="submit1" data-inline="true">Submit Roster</button>
        </div>












<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>