<html>

<head>
<% include ../head_scripts %>
<script src="../js/roster.js"></script>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<h1>Create your Team Roster</h1>

   		<div cid="roster" lass="form-inline">
	    	<table class="table" id="roster-table">
	    		<thead>
	    			<tr>
	    				<th>First Name</th>
	    				<th>Last Name</th>
	    				<th>Email</th>
	    			</tr>
	    		</thead>
	    	</table>
	    	<div id="roster-list">

	    			<form class="form-inline row roster-form" id="roster_form1" method="post" action="/teams/<%=team._id%>/roster-create" role="form">
					        <div class="form-group roster-spot">
					            <div class="full-width">
					              <input type="text" class="form-control" placeholder="First Name" name="first_name" style="width:100%">
					            </div>
					        </div>
					        <div class="form-group roster-spot">
					            <div class="full-width">
					              <input type="text" class="form-control" placeholder="Last Name" name="last_name" style="width:100%">
					            </div>
					        </div>
					        <div class="form-group roster-spot">
					            <div class="full-width">
					              <input type="email" class="form-control" placeholder="Email" name="email" style="width:100%">
					            </div>
					        </div>
					</form>
			</div>
		</div>

        <div class="form-group text-center">
              <button type="button" id="add_row" class="btn btn-default">Add More Players</button>
              <hr>
        </div>

        <div class="form-group text-center">
              <button type="button" id="submit" class="btn btn-default">Submit Roster</button>
        </div>












<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>