<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<div class="skinny-form center-this">

	<form role="form" action="/forget" data-ajax="false" method="post">
		<h4>Forgot your password?</h4>
		<h6 class="form-signin-heading text-center">Provide your email to recieve a new password</h6>

		<div data-role="fieldcontain">
		        <label for="old">Email</label>
		        <input type="email" class="form-control" placeholder="Email address" required autofocus name="email">
		</div>

        <br>
        
        <div data-role="fieldcontain">
        	<button class="btn btn-lg" type="submit" data-inline="true">Send A New Password</button>
    	</div>
	</form>

<h3 class="center-this"><a href="/register">Not registered? Get an account now!</a></h3>
</div>



<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>