<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<% if (message) { %>
<p><%= message %></p>
<% } %>


<h2 class="ui-bar ui-bar-a ui-corner-all center-this skinny-form">Please sign in</h2>

<div class="ui-body ui-body-a ui-corner-all skinny-form center-this">
<form role="form" action="/login" data-ajax="false" method="post" class="skinny-form center-this">
	<div data-role="fieldcontain">
        <input type="email" placeholder="Email address" required autofocus name="username">
    </div>
    <div data-role="fieldcontain">
        <input type="password" placeholder="Password" required name="password">
    </div>
    <div data-role="fieldcontain">
        <label class="checkbox">
          <input type="checkbox" name="rememberme"> Remember me
        </label>
    </div>
    <div data-role="fieldcontain" class="center-this">
        <button type="submit">Sign in</button>
    </div>

</form>
<h5 class="center-this"><a href="/forget">Forgot your password?</a></h5>
<br>
<h3 class="center-this"><a href="/register">Not registered? Get an account now!</a></h3>
</div>



<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>