<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<% if (message) { %>
<p><%= message %></p>
<% } %>


<form class="form-signin" role="form" action="/login" data-ajax="false" method="post">
	<h2 class="form-signin-heading text-center">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus name="username">
        <input type="password" class="form-control" placeholder="Password" required name="password">
        <label class="checkbox">
          <input type="checkbox" name="rememberme"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<h5 class="text-center"><a href="/forget">Forgot your password?</a></h5>
<br>
<h3 class="text-center"><a href="/register">Not registered? Get an account now!</a></h3>




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>