<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<div class="skinny-form center-this">
	<h3><%= user.first_name %> <%= user.last_name %> (<%=user.email%>)</h3>
        <form role="form" action="/users/<%=user._id%>/password-change" data-ajax="false" method="post">
        	<h4>Change your password</h4>

                <div data-role="fieldcontain">
                        <label for="old">Old Password</label>
                        <input name="old" type="password" class="form-control" placeholder="Old Password" required autofocus name="old">
                </div>
                <hr>
                        <div data-role="fieldcontain">
                                <label for="inputEmail">New Password</label>
                                <input type="password" id="password" class="password form-control" placeholder="New Password" required autofocus name="password">
                        </div>
                        <div data-role="fieldcontain">
                                <label for="inputEmail" class="col-sm-2 control-label">New Password Confirmation</label>
                                <input type="password" id="password_confirm" class="password form-control" placeholder="Confirm New Password" required autofocus name="password_confirm">
                        </div>
                        <div class="pw_alert"></div>
                        <br>
                        <div data-role="fieldcontain">
                        <button id="submit-match" class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
                        </div>
        </form>
</div>




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>