<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<div class="well">
	<h2><%= user.first_name %> <%= user.last_name %></h2>
<form class="form-signin" role="form" action="/users/<%=user._id%>/password-change" method="post">
	<h3 class="form-signin-heading text-center">Change your password</h3><br>
        <input type="password" class="form-control" placeholder="Old Password" required autofocus name="old">
        <hr>
        <input type="password" class="form-control" placeholder="New Password" required autofocus name="password">
        <br>
        <input type="password" class="form-control" placeholder="Confirm New Password" required autofocus name="confirm">
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
</form>
</div>

<h3 class="text-center"><a href="/register">Not registered? Get an account now!</a></h3>




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>