<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<h1>Add Rider</h1>
<h2>Event</h2>
<%= event %>
<h2>Roster Spots</h2>
<%= rosterSpots %>
<h2>Players</h2>
<%= players %>
<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
