</div><!--bodycontent-->
</div><!--container-->
</div><!--content-->
    <div data-role="footer class="footer-docs center-this" data-theme="c">
        <p class="text-muted center-this">&copy; Company 2014</p>
    </div>
</div><!--page-->