

    <div data-role="page">
      <div data-role="panel" data-position="left" data-display="reveal" id="navpanel">
          <ul data-role="listview" data-count-theme="c" data-inset="false">
            <li><a href="/">Home</a></li>
            <% if(user){%>
            <li><a href="#">Dashboard</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/events">Events</a></li>
            <li data-role="collapsible" class="nav-collapsible" data-iconpos="right">
                <h4 class="nav-collapsible">Teams</h4>
                <ul data-role="listview">
                  <li><a href="#">List item 1</a></li>
                  <li><a href="#">List item 2</a></li>
                  <li><a href="#">List item 3</a></li>
                </ul>
            </li>
            <% } %>
          </ul>
      </div>

      <div data-role="header">
        <a href="#navpanel" data-icon="grid">nav</a>
        <h1>title</h1>
      </div>

      <div data-role="content">

        <div class="container">


          <div class="masthead">

            <div class="row" id="top-content">
            <h3>Team Manager

              <div class="pull-right">
              <% if(user){%>
                <h5>
                <div class="btn-group">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %><b class="caret"></b></a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="/account">My Account</a></li>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Players</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
                </h5>




              <% }else{ %>
                  <form class="navbar-form navbar-right" role="form" action="/login" method="post">
                    <div class="form-group">
                      <input type="text" placeholder="Email" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="password" placeholder="Password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Log in</button>
                    <div id="rememberme" class="text-center"><small>
                    <input type="checkbox" name="rememberme"/> Remember Me
                    </small></div>
                  </form>
                  <div id="register" class="text-right">
                    <small>
                    <a href="/register"> register for an account</a>
                    </small>
                  </div>

              <% } %>
              </div>
            </h3>
            </div>
          </div>
          <div id="body_content">