

<div data-role="page">

<div data-role="header" class="jqm-header">
    <h2><%= title %></h2>
    <a href="#navpanel" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
    <%if(user!=null){%>

      <a href="#popupMenu" data-rel="popup" class="jqm-search-link ui-btn ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right" data-transition="slidedown" data-theme="b"><small><%=user.first_name+ " " + user.last_name %></small></a>

      <%} else {%>
        <a href="#popuplogin" data-rel="popup" data-position-to="window" class="jqm-search-link ui-btn ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right" data-icon="check" data-theme="b" data-transition="pop"><small>Login</small></a>
        <div data-role="popup" id="popuplogin" data-theme="a" data-overlay-theme="a" class="ui-corner-all">
          
            <form action="/login" method="post" data-ajax="false">
                <div style="padding:10px 20px;">
                    <h3>Please sign in</h3>
                    <label for="email" class="ui-hidden-accessible">Email:</label>
                    <input type="text" name="username" id="email" placeholder="email" data-theme="a">
                    <label for="password" class="ui-hidden-accessible">Password:</label>
                    <input type="password" name="password" id="password" placeholder="password" data-theme="a">
                    <input type="submit" data-theme="b" data-icon="check" value="Sign in">
                    <div class="center-this">
                      <a href="/register">Register for an account now</a>
                    </div>
                </div>
            </form>
        </div>
      <%}%>

</div>


      <div data-role="panel" data-position="left" data-display="reveal" id="navpanel">
          <ul data-role="listview" data-count-theme="c" data-inset="false">
            <li><a href="/">Home</a></li>
            <% if(user){%>
            <li><a href="#">Dashboard</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/events">Events</a></li>
            <hr>
            <% } %>
            <li data-role="collapsible" class="nav-collapsible" data-iconpos="right">
                <h4 class="nav-collapsible">App Info</h4>
                <ul data-role="listview">
                  <li><a href="/features">Features</a></li>
                  <li><a href="/starting">Getting Started</a></li>
                </ul>
            </li>
            <li><a href="/about">About Us</a></li>
            
</ul>
</div>



<div data-role="panel" class="jqm-navmenu-panel" data-position="right" data-display="overlay" data-theme="a" id="popupMenu">
  <ul data-role="listview" class="jqm-list ui-alt-icon ui-nodisc-icon">
    <li></li>
    <li><a href="/account">My Profile</a></li>
    <li style="height: 50px"></li>
    <li><a href="/logout" data-ajax="false">Log Out</a></li>
  </ul>
</div>

      <div data-role="content">

        <div class="container">

          <div id="body_content">